body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  background-color: #f9f9f9;
  color: #222;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Poppins", sans-serif;
}

.navbar {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;

  padding: 0.25rem 1.75rem 0.25rem 1.75rem;

  box-sizing: border-box;

  border-bottom: 3px solid #222;
}

.navbar h1 {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 1.75rem;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}

.navbar-links a {
  font-size: 1.75rem;
  text-decoration: none;
  color: #222;
}
